doctype 5
html
  head
    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="jquery.js")
    script(type="text/javascript", src="three.js")
    script(type="text/javascript", src="main.js")
  body(onload="start();")